<div class="page-header">
    <h1>Reset password</h1>
</div>
<br>

<form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>

    <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error': (!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) || (regForm.$submitted && regForm.confirmPassword.$error.required)}">
        <!--Password-->
        <label for="">Password</label>
        <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstPassword" placeholder="Password *" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,35}$/" required>

        <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required )">This field is required</p>
        <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength) ">
            <li>Must contain at least one uppercase letter </li>
            <li>Must contain at least one lowercase letter </li>
            <li>Must contain at least one number </li>
            <li>Must contain at least one special charachters </li>
            <li>Most be at least 8 characters but no more 35</li>

        </ul>
    </div>
    <br>
    <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
        <!--Confirm Password-->
        <label for="">Password</label>
        <input ng-disabled="reset.disabled" class="form-control " type="password" name="confirmPassword" placeholder="please enter password" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" required>

        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required )">This field is required</p>
        <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>

    </div>
    <br>
    <button ng-disabled="reset.disabled" class="btn btn-primary" type="submit">Reset password</button>


</form>
<br>


<div class="jumbotron text-center" ng-show="reset.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>
<br>
<div class="row show-hide-message" ng-show="reset.successMsg">
    <div class="alert alert-success">{{reset.successMsg}}</div>
</div>
<br>
<div class="row show-hide-message" ng-show="reset.errorMsg">
    <div class="alert alert-danger">{{reset.errorMsg}}</div>
</div>
