<div class="page-header">
    <h1>User Registeration</h1>
</div>
<br>

<form name="regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>

    <div ng-class="{ 'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error': (!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted)}">
        <!--Name-->
        <label  for="">Name</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="name" placeholder="please enter your name" ng-model="register.regData.name" ng-pattern="/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/"  ng-minlength="3" ng-maxlength="20" required>
        <p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required )">This field is required</p>
        <ul class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength) ">
            <li>name Must have a space in between first and lastname </li>
            <li>name Must not contain any special charachters</li>
            <li>name Must not contain any numbers</li>
            <li>name Must at least 3 charchters but no more 35 charachters</li>
        </ul>
    </div>
    <br>
    <div ng-class="{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error': (!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid }">
        <!--Email-->
        <label  for="">Email</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="email" placeholder="please enter email" ng-model="register.regData.email" ng-minlength="3" ng-maxlength="45" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/"  ng-blur="register.checkEmail(regData);" required>
        <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required )">This field is required</p>
        <span ng-show="register.checkingEmail" class="glyphicon glyphicon-repeat spinner"></span><p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{ register.emailMsg }}</p>
        <ul class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength) ">
            <li>Most contain '@' </li>
            <li>Most not contain any special content</li>
            <li>Most be at least 3 characters but no more 25</li>

        </ul>
    </div>

    <br>
    <div ng-class="{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error': (!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid}">
        <!--Usename-->
        <label for="">Username</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="username" placeholder="please enter username" ng-model="register.regData.username" ng-minlength="3" ng-maxlength="25" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-blur="register.checkUsername(regData);" required>
        <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required )">This field is required</p>
        <span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat spinner"></span><p class="help-block" ng-show="register.usenameMsg && !regForm.username.$error.required && regForm.username.$valid">{{ register.usenameMsg }}</p>
        <ul class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength) ">
            <li>Most not contain any special content or spaces </li>
            <li>Most be at least 3 characters but no more 25</li>

        </ul>
    </div>
   <br>
   <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error': (!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) || (regForm.$submitted && regForm.confirmPassword.$error.required)}">
       <!--Password-->
       <label for="">Password</label>
       <input ng-disabled="register.disabled" class="form-control" type="password" name="firstPassword" placeholder="Password *" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,35}$/" required>

       <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required )">This field is required</p>
       <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength) ">
           <li>Must contain at least one uppercase letter </li>
           <li>Must contain at least one lowercase letter </li>
           <li>Must contain at least one number </li>
           <li>Must contain at least one special charachters </li>
           <li>Most be at least 8 characters but no more 35</li>

       </ul>
   </div>
    <br>
    <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
        <!--Confirm Password-->
        <label for="">Password</label>
        <input ng-disabled="register.disabled" class="form-control " type="password" name="confirmPassword" placeholder="please enter password" match="{{[firstPassword]}}" ng-change="register.regData.password = confirm" ng-model="confirm" required>

        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required )">This field is required</p>
        <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>

    </div>
    <br>
    <button ng-disabled="register.disabled" class="btn btn-primary" type="submit">Register</button>


</form>
<br>


<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>
<br>
<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
</div>
<br>
<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
</div>
