<div class="page-header">
    <h1>User Management</h1>
</div>





<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<button type="button" class="btn btn-success" ng-click="management.showMore(number);">Apply Filter</button>
<button type="button" class="btn btn-warning" ng-click="management.showAll();">Show All</button>
<div class="showmore">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon"> Results to display</span>
            <input type="text" class="form-control" ng-model="number">

        </div>

    </div>
</div>
<br>
<div class="navbar-form">
    <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="Search for ..." ng-model="searchKeyword">
    </div>
    <button ng-click="management.search(searchKeyword, number);" type="button" class="btn btn-default">Search</button>
        <button ng-click="management.clear();" type="button" class="btn btn-default">Clear</button>
        <a href="/search">
            <button type="button" class="btn btn-default">Advanced Search</button>
        </a>
</div>

<br>

<div ng-show="searchFilter !== undefined">
    <p><strong>Total results: </strong>{{(management.users | filter:searchFilter).length}}</p>

</div>

<div  ng-show="searchFilter !== undefined">
    <p><strong>Showing: </strong>{{(management.users | filter:searchFilter | limitTo: management.limit).length}}</p>
</div>

<br>



<div class="row show-hide-message" ng-show="management.showMoreError">
    <div class="alert alert-danger">{{management.showMoreError}}</div>
</div>

<br><br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>User Management</strong>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Permission</th>
        </tr>
        <tr  ng-repeat="person in management.users | filter:searchFilter | limitTo: management.limit">
            <td>{{person.name}}</td>
            <td>{{person.username}}</td>
            <td>{{person.email}}</td>
            <td>{{person.permission}}</td>
            <td>
                <a href="/edit/{{person._id}}">
                    <button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button>
                </a>

                    <button ng-click="management.deleteUser(person.username)" type="button" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button>

            </td>
        </tr>
    </table>

</div>

<br>
<br>
<button type="button" class="btn btn-success" ng-click="management.showMore(number);">Apply Filter</button>
<button type="button" class="btn btn-warning" ng-click="management.showAll();">Show All</button>
<div class="showmore">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon"> Results to display</span>
            <input type="text" class="form-control" ng-model="number">

        </div>

    </div>
</div>

<br><br>

